@import "tailwindcss";
@theme {
  --color-primary: #364025;
  --color-secondary1: #78806a;
  --color-terciary: #d8d0c7;
  --color-neutral1: #252525;
  --color-neutral2: #fefffa;
  --color-neutral3: #edeae5;
  --color-alert: #771900;
  --breakpoint-2xl: 90rem;
  --font-lora: var(--font-lora);
  --font-montserrat: var(--font-montserrat);
  --text-3xl: 32px;
}

html {
  background-color: #f6f4f2;
  scrollbar-width: none;
}

html::-webkit-scrollbar-x {
  display: none;
}

main {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 120px;
  animation: fade-in 1s;
}

@media (min-width: 1024px) {
  main {
    margin-top: 120px;
    gap: 140px;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-start {
  animation: fade-in 1.5s;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #364025;
  border-right: 3px solid transparent;
  box-sizing: border-box;
}

@keyframes open-FAQ {
  0% {
    max-height: 0;
    opacity: 0;
  }
  100% {
    max-height: 800px;
    opacity: 1;
  }
}

@keyframes close-FAQ {
  0% {
    max-height: 800px;
    opacity: 1;
  }
  100% {
    max-height: 0;
    opacity: 0;
  }
}

.open-faq {
  animation: open-FAQ 1s ease forwards;
}

.close-faq {
  animation: close-FAQ 0.5s ease forwards;
}
